{% extends 'partials/admin/body.html' %}
{% block contenido %}
{% load bootstrap_icons %}
{% load static %}

  <!-- Info boxes -->
  <div class="row">
    <a href="http://127.0.0.1:8000/admin/comunidad/usuario/" style="text-decoration: none; color: inherit;">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1">
          {% bs_icon 'person' size='1.5em'%}</i></span>

      <div class="info-box-content">
          <span class="info-box-text">Usuarios</span>
          <span class="info-box-number">{{ usuarios_cantidad }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <a href="http://127.0.0.1:8000/admin/comunidad/registrohoras/" style="text-decoration: none; color: inherit;">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="info-box mb-3">
      <span class="info-box-icon bg-danger elevation-1">{% bs_icon 'clock-history' size='1.5em'%}</span>

      <div class="info-box-content">
        <span class="info-box-text">Horas registradas</span>
        <span class="info-box-number">{{horas_cantidad}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</a>

    <!-- /.col -->

    <div class="col-12 col-sm-6 col-md-4">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1">{% bs_icon 'megaphone-fill' size='1.5em' %}</i></span>

        <div class="info-box-content">
          <span class="info-box-text">Anuncios</span>
          <span class="info-box-number">{{ anuncios_cantidad }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    
    <!-- /.col -->
  </div>
  <!-- /.row -->
 <div class="card w-50 mx-auto p-4">
  <div class="h3">
Gestión Administrativa
</div>
  <!-- <canvas id="Chart-anuncios"></canvas> -->
</div>
</div> 

<!-- <script src="{% static 'ChartJS/chart.js' %}"></script> -->


{% endblock %}