{% extends 'partials/admin/body.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block content %}
{{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            {{ form|crispy }}
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">
                    {% bs_icon 'save' %} Guardar
                </button>
                <a href="{% url 'anuncio_lista' %}" class="btn btn-secondary ml-2">
                    {% bs_icon 'arrow-left' %} Cancelar
                </a>
            </div>
{% endblock %}