<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
        <div class="container-fluid px-0">
            <a class="navbar-brand" href="#">In Out Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrar_horas' %}">Registrar Horas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'solicitar_permiso' %}">Solicitar Permiso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reportes' %}">Reportes</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrar_horas' %}">
                            <i class="bi bi-person-circle me-1"></i>Ingresar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    