{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" href="{% static 'images/logoiom.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>In Out Manager - Iniciar Sesión</title>       
</head>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

       <link rel="shortcut icon" href="{% static 'images/logoiom.png' %}"
    type="image/x-icon">
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item">
          <a href="{% url 'index' %}" class="btn btn-primary">Inicio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body class="hold-transition dark-mode login-page"> 
    
    {% block contenido %}   
         
      {% endblock %}
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <!-- AdminLTE App -->
    <script src="{% static 'js/adminlte/adminlte.js' %}"></script>
  </body>
</html>