{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="{% static 'css/style.css' %}">
 -->    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>In Out Manager - Iniciar Sesión</title>
    <link rel="shortcut icon" href="{% static 'images/logoiom.png' %}" type="image/x-icon">

    
    
    </div>
</div>  
        
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo/Marca aquí -->
       <link rel="shortcut icon" href="{% static 'images/logoiom.png' %}"
    type="image/x-icon">
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto"> <!-- Alineación derecha -->
        <li class="nav-item">
          <a href="{% url 'index' %}" class="btn btn-primary">Inicio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body class="hold-transition dark-mode login-page">
    
    {% block contenido %}   
         
    {% endblock contenido %}




</body>
</html>


    {% include 'partials/admin/footer.html' %}