{% load static %}
<script src="{% static 'js/jquery/jquery.min.js'%}"></script>
<script src="{% static 'js/adminlte/adminlte.js'%}"></script>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
    const toastElList = [].slice.call(document.querySelectorAll('.toast'));
    toastElList.forEach(function (toastEl) {
      new bootstrap.Toast(toastEl, { delay: 3000 }).show();
    });
  });
</script> -->
<!- para las tablas ->
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
{% include 'partials/admin/datatables.html' %}




<!- para las alertas ->
<script src="{% static 'Toastr/js/toastr.min.js' %}"></script>
<script src="{% static 'Toastr/CSSs/toastr.min.css' %}"></script>

<link rel="stylesheet" href="{% static 'Toastr/css/toastr.min.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
  {% for message in messages %}
    <script>
    // Mapear tags de Django a métodos de toastr
    let messageType = '{{ message.tags }}';
    let toastrMethod;
    
    switch(messageType) {
        case 'error':
            toastrMethod = 'error';
            break;
        case 'warning':
            toastrMethod = 'warning';
            break;
        case 'success':
            toastrMethod = 'success';
            break;
        case 'info':
            toastrMethod = 'info';
            break;
        default:
            toastrMethod = 'info';
    }
    
    toastr[toastrMethod]('{{ message|safe }}', '', {
        closeButton: true,
        progressBar: true,
        positionClass: 'toast-top-center'
    });
    </script>
  {% endfor %}
{% endif %}