{% load static %}
{% load bootstrap_icons %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'index' %}" class="brand-link decoration-none ">
        <img src="{% static 'images/logoiom.png' %}" alt="IOM Logo" class="img-circle elevation-3" width="50" style="opacity: .8">
        <span class="brand-text font-weight-light">In Out Manager</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'images/user.jpg' %}" class="img-circle elevation-2" alt="User  Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Edgar Quiroga</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Buscar..." aria-label="Buscar">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        {% bs_icon 'search' %}
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-close">
                    <a href="#" class="nav-link ">
                        {% bs_icon 'people' %}
                        <p>Comunidad</p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'usuarios' %} " class="nav-link" data-url="">
                                {% bs_icon 'people-fill' %}
                                <p>Usuarios</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'registro_horario_list' %} " class="nav-link" data-url="">
                                {% bs_icon 'clock-fill' %}
                                <p>Horas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" data-url="">
                                {% bs_icon 'clock' %}
                                <p>Horas extras</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" data-url="">
                                {% bs_icon 'door-open' %}
                                <p>Permisos</p>
                            </a>
                       {% comment %}  </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" data-url="">
                                {% bs_icon 'file-earmark-text' %}
                                <p>Informes</p>
                            </a> {% endcomment %}
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-close">
                    <a href=" {% url 'anuncio_crear' %} " class="nav-link ">
                        {% bs_icon 'newspaper' size='1.5em' %}
                        <p>Operaciones</p>
                    </a>
                    <ul class="nav nav-treeview">
                           <li class="nav-item">
       <a href="{% url 'anuncio_lista' %}" class="nav-link" data-url="">
           {% bs_icon 'megaphone-fill' %}
           <p>Anuncios</p>
       </a>
   </li>
                        
                    </ul>
                </li>

                <li class="nav-item menu-close">
                    <a href="#" class="nav-link ">
                        {% bs_icon 'gear-wide-connected' %}
                        <p>Configuraciones</p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link" data-url="">
                                {% bs_icon 'card-image' %}
                                <p>Sliders</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
