{% extends 'partials/body.html' %} 
{% block contenido %}
<h2>Mis Registros</h2>
<table border="1">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Pago Total</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.fecha }}</td>
            <td>{{ registro.hora_entrada }}</td>
            <td>{{ registro.hora_salida }}</td>
            <td>${{ registro.pago_total }}</td>
            <td><a href="{% url 'detalle_registro' registro.pk %}" data-bs-toggle="tooltip" title="Ver detalles del registro">Ver</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'registrar' %}" data-bs-toggle="tooltip" title="Crear un nuevo registro de horas">
  Registrar nuevo
</a>
{% endblock %}
