{% extends 'partials/admin/body.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load static %}

{% block contenido %}
<div class="container-fluid m-4 row">
  {% include 'partials/CRUD/crear.html' %}
  <div class="rounded card p-3 mx-4 col-md-8">
    <table class="table table-bordered w-100 display nowrap">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>URL</th>
          <th>Imagen</th>
          <th>Prioridad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for slider in sliders %}
          <tr>
            <td>{{ slider.nombre }}</td>
            <td>{{ slider.descripcion }}</td>
            <td>{{ slider.url }}</td>
            <td>
              <img src="{{ slider.imagen.url }}" alt="{{ slider.nombre }}" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>{{ slider.prioridad }}</td>
           <td>
  <a href="{% url 'editar_slider' slider.id %}" class="btn btn-sm btn-primary me-2" data-bs-toggle="tooltip" title="Editar">
    {% bs_icon 'pencil' %}
    <span class="visually-hidden">Editar</span>
  </a>
  <a href="{% url 'eliminar_slider' slider.id %}" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Eliminar">
    {% bs_icon 'trash' %}
    <span class="visually-hidden">Eliminar</span>
  </a>
</td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}